@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
/* 내가 추가한 코드 */
html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  overflow-x: hidden;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  /*내가추가함*/
  border: none;
  padding: 0;
  outline: none;
}

html {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
  /*내가추가함*/
  vertical-align: top;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*내가추가함*/
a {
  text-decoration: none;
  color: inherit;
}

.blind {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* _mixins.scss */ /* _variables.scss */ /* _placeholder.scss */
.header__mobile-icon::after, .header__mobile-icon::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.news__next, .news__prev {
  background-image: url(../../images/arrow_red.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
  width: 4rem;
  height: 4rem;
  background-color: white;
  cursor: pointer;
}

/* _header.scss */
header {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 9999;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
.header__logo {
  margin-right: auto;
}
.header__logo a {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: block;
  width: 126px;
  height: 40px;
}
.header__gnb {
  /* display: flex; */
  display: none;
  height: 100%;
}
.header__gnb li {
  margin: 0 0.5rem;
  padding: 0 1rem;
}
.header__gnb a {
  display: block;
  height: 100%;
  font-size: 1.6rem;
  text-transform: capitalize;
  line-height: 8rem;
}
.header__serch {
  margin: 0 1.5rem;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(../images/serch.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.header__mobile-btn {
  margin: 0 1.5rem;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
.header__mobile-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #000;
}
.header__mobile-icon::before {
  top: -8px;
}
.header__mobile-icon::after {
  top: 8px;
}

/* _main.scss */
.inner_wrapper {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1800px;
}

.bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 100%;
  pointer-events: none;
}
.bg__line {
  position: absolute;
  top: 0;
  height: 100%;
  border-left: 1px solid rgba(204, 204, 204, 0.3);
}
.bg__line:nth-child(1) {
  left: 0;
}
.bg__line:nth-child(2) {
  left: 10%;
}
.bg__line:nth-child(3) {
  left: 20%;
}
.bg__line:nth-child(4) {
  left: 30%;
}
.bg__line:nth-child(5) {
  left: 40%;
}
.bg__line:nth-child(6) {
  left: 50%;
}
.bg__line:nth-child(7) {
  left: 60%;
}
.bg__line:nth-child(8) {
  left: 70%;
}
.bg__line:nth-child(9) {
  left: 80%;
}
.bg__line:nth-child(10) {
  left: 90%;
}
.bg__line:nth-child(11) {
  left: 100%;
}

/****** secition1  since ******/
.since {
  height: 150vh;
}
.since__container {
  width: 100%;
  height: 100vh;
}
.since__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1400px;
}
.since__logo {
  position: absolute;
  width: 100%;
  z-index: -9;
}
.since__txt {
  font-size: 4rem;
  font-weight: 700;
  color: #e61d2b;
}
.since__can {
  width: 50%;
}

/****** secition2 purpose ******/
.purpose {
  background-color: #e61d2b;
  color: #fff;
  height: 100vh;
}
.purpose__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.purpose__wrap {
  font-size: 8.33vw;
  line-height: 9.33vw;
}
.purpose__txt {
  display: block;
  font-weight: 700;
}
.purpose__img {
  position: relative;
  margin-top: 4rem;
  width: 80%;
}
.purpose__rotate {
  position: absolute;
  bottom: -7vw;
  left: -7vw;
  width: 14.993vw;
  height: 14.993vw;
  min-width: 10rem;
  min-height: 10rem;
}
.purpose__rotate .txt1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(12deg);
}
.purpose__rotate .txt2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(24deg);
}
.purpose__rotate .txt3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(36deg);
}
.purpose__rotate .txt4 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(48deg);
}
.purpose__rotate .txt5 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(60deg);
}
.purpose__rotate .txt6 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(72deg);
}
.purpose__rotate .txt7 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(84deg);
}
.purpose__rotate .txt8 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(96deg);
}
.purpose__rotate .txt9 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(108deg);
}
.purpose__rotate .txt10 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(120deg);
}
.purpose__rotate .txt11 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(132deg);
}
.purpose__rotate .txt12 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(144deg);
}
.purpose__rotate .txt13 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(156deg);
}
.purpose__rotate .txt14 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(168deg);
}
.purpose__rotate .txt15 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(180deg);
}
.purpose__rotate .txt16 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(192deg);
}
.purpose__rotate .txt17 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(204deg);
}
.purpose__rotate .txt18 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(216deg);
}
.purpose__rotate .txt19 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(228deg);
}
.purpose__rotate .txt20 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(240deg);
}
.purpose__rotate .txt21 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(252deg);
}
.purpose__rotate .txt22 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(264deg);
}
.purpose__rotate .txt23 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(276deg);
}
.purpose__rotate .txt24 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(288deg);
}
.purpose__rotate .txt25 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(300deg);
}
.purpose__rotate .txt26 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(312deg);
}
.purpose__rotate .txt27 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(324deg);
}
.purpose__rotate .txt28 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(336deg);
}
.purpose__rotate .txt29 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 14.993vw;
  min-height: 10rem;
  font-size: 1.6rem;
  transform: translate(-50%, -50%) rotate(348deg);
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
/****** secition3 vision ******/
.vision {
  background-color: #e61d2b;
  overflow: hidden;
}
.vision__container {
  position: relative;
  margin: 6rem 0;
  color: #fff;
}
.vision__title {
  margin: 1.563vw 0;
  font-size: 10.417vw;
  font-weight: 700;
  white-space: nowrap;
}
.vision__title-stroke {
  text-shadow: 1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  color: #e61d2b;
}

/****** secition4 product ******/
.product {
  position: relative;
  background-color: #000;
  height: 400vh;
}
.product__item {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.product__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.product__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12vw;
  font-weight: 700;
  color: #fff;
}
.product__title .block {
  display: block;
  font-size: 18vw;
}

.canvas {
  height: 100vh;
  background-color: #e61d2b;
}

/****** secition5 sticky ******/
.sticky {
  position: relative;
  /* grid item 위치설정 */
}
.sticky__container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}
.sticky__horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.sticky__txt-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5.208vw;
  margin-right: 26.042vw;
  height: 85%;
}
.sticky__txt-box p {
  font-size: 1.6rem;
  color: #000;
}
.sticky__title {
  flex-shrink: 0;
  font-size: 6rem;
  font-weight: 700;
}
.sticky__title-stroke {
  text-shadow: 1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #fff;
}
.sticky__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(8, 500px);
  grid-template-rows: repeat(3, calc(33.333vh - 2rem));
}
.sticky__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sticky__item-txt h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.sticky__item-txt p {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #555;
}
.sticky__item:nth-child(1) {
  grid-column: 1/span 3;
  grid-row: 1/span 2;
}
.sticky__item:nth-child(2) {
  grid-column: 3/span 1;
  grid-row: 3/span 1;
}
.sticky__item:nth-child(3) {
  grid-column: 4/span 1;
  grid-row: 1/span 1;
}
.sticky__item:nth-child(4) {
  grid-column: 5/span 1;
  grid-row: 2/span 1;
}
.sticky__item:nth-child(5) {
  grid-column: 6/span 1;
  grid-row: 2/span 2;
}
.sticky__item:nth-child(6) {
  grid-column: 7/span 1;
  grid-row: 1/span 1;
}
.sticky__item:nth-child(7) {
  grid-column: 7/span 1;
  grid-row: 3/span 1;
}

/****** secition6 brand ******/
.brand {
  position: relative;
  height: 200vh;
}
.brand__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.brand__title {
  width: 100%;
  height: 40%;
}
.brand__title h2 {
  font-size: 10.256vw;
  font-weight: 700;
  color: #e61d2b;
}
.brand__title h2 .block {
  display: block;
}
.brand__scroll {
  position: relative;
  width: 100%;
  height: 60%;
}
.brand__move {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.brand__move li {
  width: 100%;
  background-color: #e61d2b;
  transform: translateY(100%);
}
.brand__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  color: #fff;
}
.brand__value {
  font-size: 25.641vw;
  font-weight: 700;
}
.brand__value-plus {
  text-shadow: 1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  color: #e61d2b;
}
.brand__desc {
  font-size: 1.6rem;
}

/****** secition7 news ******/
.news {
  padding: 15rem 0;
  background-color: #e61d2b;
}
.news__title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #fff;
}
.news__main {
  font-size: 10rem;
  font-weight: 700;
}
.news__sub {
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.news__arrow {
  display: flex;
  margin: 4rem 0;
}
.news__prev {
  transform: rotate(180deg);
}
.news__next {
  transform: rotate(0);
}
.news__slide {
  overflow: hidden;
}
.news__container {
  display: flex;
}
.news__container li {
  flex-shrink: 0;
  width: 100%;
  background-color: #fff;
}
.news__img {
  height: 300px;
  border: 2px solid #fff;
}
.news__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__txt {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  height: 150px;
  font-size: 2rem;
  line-height: 2.6rem;
}
.news__date {
  margin-top: auto;
  color: #e61d2b;
}

.moveTitle {
  background-color: #fff;
}
.moveTitle h2 {
  padding: 4rem;
  color: #e61d2b;
  font-size: 25.641vw;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  /****** ******/
  .since__can {
    width: auto;
  }
  /****** ******/
  .purpose__container {
    justify-content: space-between;
    flex-direction: row;
  }
  .purpose__wrap {
    width: 60%;
    font-size: 5.729vw;
    line-height: 6.729vw;
  }
  .purpose__img {
    width: 40%;
    max-width: 700px;
  }
  /****** ******/
  .product__img {
    width: 30%;
    left: 0;
    transform: translateY(-50%);
  }
  .product__title {
    left: auto;
    right: 0;
    width: 60%;
    font-size: 7.813vw;
    transform: translateY(-50%);
  }
  .product__title .block {
    font-size: 13.021vw;
  }
  /****** ******/
  .brand__container {
    flex-direction: row;
  }
  .brand__title {
    height: 100%;
  }
  .brand__title h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    font-size: 7.813vw;
  }
  .brand__scroll {
    height: 100%;
  }
  .brand__value {
    font-size: 16.927vw;
  }
}
/* _footer.scss */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
  background-color: #000;
  color: #fff;
}
.footer a {
  display: block;
}
.footer__logo {
  display: flex;
  margin-bottom: 3rem;
}
.footer__coca-logo {
  margin-right: 2rem;
  width: 126px;
  height: 40px;
}
.footer__my-logo {
  width: 54px;
  height: 40px;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 1.6rem;
}
.footer__list li {
  position: relative;
  padding: 1rem;
}
.footer__list li::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  background-color: #fff;
  width: 1px;
  height: 1rem;
}
.footer__list li:first-child::after {
  display: none;
}
.footer__social {
  display: flex;
  margin: 5rem 0;
}
.footer__social li {
  margin: 0 1rem;
}
.footer__copy {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
}/*# sourceMappingURL=style.css.map */