@charset "utf-8";
/* _placeholder.scss */

%header-icon {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: $G-color-black;
}

%arrow-btn {
  @include imgStyle(url(../../images/arrow_red.svg), no-repeat, 50%, 50%, auto);

  width: 4rem;
  height: 4rem;
  background-color: rgba($G-color-white, $alpha: 1);
  cursor: pointer;
}
