@charset "utf-8";
/* _variables.scss */

// color
$G-color-main: #e61d2b;
$G-color-black: #000;
$G-color-gray: #555;
$G-color-lightgray: #ccc;
$G-color-white: #fff;

// margin
$G-margin-center: 0 auto;

// font-size
$font110: 11rem;

// font-weight;
$G-font-bold: 700;
