@charset "utf-8";
/* _footer.scss */

.footer {
  @include flexBox(center, center);

  flex-direction: column;
  padding: 10rem 0;
  background-color: $G-color-black;
  color: $G-color-white;

  a {
    display: block;
  }

  &__logo {
    display: flex;
    margin-bottom: 3rem;
  }

  &__coca-logo {
    margin-right: 2rem;
    width: 126px;
    height: 40px;
  }

  &__my-logo {
    width: 54px;
    height: 40px;
  }

  &__list {
    @include flexBox(center, flex-start);

    flex-wrap: wrap;
    font-size: 1.6rem;
    text-transform: capitalize;

    li {
      position: relative;
      padding: 1rem;

      &::after {
        @include positionTopLeft(0, 50%);

        content: "";
        display: block;
        background-color: rgba($G-color-white, $alpha: 0.5);
        width: 1px;
        height: 1rem;
      }

      &:first-child::after {
        display: none;
      }
    }
  }

  &__social {
    display: flex;
    margin: 5rem 0;

    li {
      margin: 0 1rem;
    }
  }

  &__copy {
    font-size: 1.4rem;
    color: rgba($G-color-white, $alpha: 0.5);
  }
}

@media (hover: hover) {
  .footer {
    li:hover a {
      text-decoration: underline;
    }

    &__social li:hover {
      opacity: 0.7;
    }
  }
}