@charset "utf-8";
/* _header.scss */

header {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 8rem;
  background-color: $G-color-white;
  z-index: 9999;
  transition: top 1s;
}

header.top {
  top: 0;
}

header.hide {
  top: -100%
}

.header {
  @include flexBox(flex-end, center);

  margin: $G-margin-center;
  width: 90%;
  height: 100%;
  // background-color: $G-color-white;

  &__logo {
    margin-right: auto;

    a {
      @include imgStyle(url(../images/logo.svg), no-repeat, 50%, 50%, contain);

      display: block;
      width: 126px;
      height: 40px;
    }
  }

  &__gnb {
    display: flex;
    flex-direction: column;
    // display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    background-color: #eee;

    &.show {
      height: 40rem;
    }
    
    li {
      // margin: 0 0.5rem;
      padding: 0 3rem;
      // padding: 0 1rem;
      border-bottom: 1px solid $G-color-white;
    }

    a {
      display: block;
      height: 100%;
      font-size: 1.6rem;
      text-transform: capitalize;
      line-height: 8rem;
    }
  }

  &__serch {
    @include iconBtn;
    @include imgStyle(url(../images/serch.svg), no-repeat, 50%, 50%, contain);
  }

  &__mobile-btn {
    @include iconBtn;

    position: relative;
  }

  &__mobile-icon {
    @include positionTopLeft(0, 50%);

    width: 100%;
    height: 1px;
    background-color: $G-color-black;

    &::before {
      @extend %header-icon;

      top: -8px;
    }

    &::after {
      @extend %header-icon;

      top: 8px;
    }
  }
}


@media screen and (min-width:1024px) {
  .header {
    &__gnb {
      position: static;
      flex-direction: row;
      width: auto;
      height: 100%;
      background-color: $G-color-white;
      // top: 0;
      height: auto;

      li {
        position: relative;
      }

      li::after {
        @include positionBottomLeft(0, 1rem);

        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: $G-color-main;
        transition: width 0.3s;
      }
    }


    &__mobile-btn {
      display: none;
    }
  }
}

@media (hover: hover) {
  .header {
    &__gnb li:hover {
      background-color: $G-color-main;
      color: $G-color-white;
    }
  }

  @media screen and (min-width:1024px) {
    .header {
      &__gnb li:hover {
        background-color: $G-color-white;
        color: $G-color-main;
        
        &::after {
          width: 100%;
        }
      }
    }  
  } 
}