@charset "utf-8";
/* _main.scss */

.bg {
  @include positionTopLeft(50%, 0);

  width: 90%;
  height: 100%;
  pointer-events: none;
  
  $leftAll: 0 10% 20% 30% 40% 50% 60% 70% 80% 90% 100%;
  &__line {
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 1px solid rgba($color: #fff, $alpha: 0.1);
  }

  @each $left in $leftAll {
    $i: index($leftAll, $left);
    &__line:nth-child(#{$i}) {
      left: $left;
    }
  }
}

/****** secition1  since ******/
.since {
  &__container {
    width: 100%;
    height: 100vh;
  }

  &__img-box {
    @include flexBox(center, center);
    @include imgStyle(url(../../images/logo.svg), no-repeat, 50%, 50%, contain);

    flex-direction: column;
    margin: $marginAuto;
    width: 90%;
    height: 100%;
    max-width: 1400px;
  }

  &__txt {
    font-size: 4rem;
    font-weight: $bold;
    color: $mainColor;
  }
}

/****** secition2 purpose ******/
.purpose {
  background-color: $mainColor;
  color: $white;

  &__container {
    @include flexBox(center, center);

    flex-direction: column;
    height: 100vh;
  }

  &__wrap {
    font-size: 4rem;
    line-height: 6rem;

  }

  &__txt {
    display: block;
    font-weight: $bold;
  }

  &__img {
    position: relative;
    margin-top: 6rem ;

    @for $i from 1 to 30 {
      .txt#{$i} {
        @include positionBottomLeft(0, 0);

        width: 16px;
        height: 6rem;
        font-size: 1.6rem;
        transform-origin: bottom center;
        transform: rotate(($i*12)+deg)
      }
    }
  }
}

/****** secition3 vision ******/
.vision {
  &__container {
    background-color: $mainColor;
    color: $white;
  }
  
  &__title {
    font-size: 14rem;
    font-weight: $bold;
    white-space: nowrap;
  }

  &__title-stroke {
    @include textBorder($white);
    
    color: $mainColor;
  }
}

/****** secition4 product ******/
.product {
  position: relative;
  background-color: $black;
  height: 300vh;

  &__item {
    position: relative;
    height: 100vh;
  }

  &__img {
    @include positionTopLeft(50%, 50%);
  }

  &__title {
    @include positionTopLeft(50%, 50%);

    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: $bold;
    color: $white;
    
    .block {
      display: block;
      font-size: 10rem;
    }
  }
}

// canvas
.canvas {
  height: 100vh;
  background-color: $mainColor;
}

/****** secition sticky ******/
.sticky {
  position: relative;

  &__container {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  &__horizontal {
    @include flexBox(flex-start, center);

    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  &__txt-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5.208vw;
    margin-right: 26.042vw;
    // width: 50%;
    height: 85%;

    p {
      font-size: 1.6rem;
      color: $black;
    }
  }

  &__title {
    flex-shrink: 0;
    font-size: 6rem;
    font-weight: $bold;

    &-stroke {
      @include textBorder($black);

      color: $white;
    }
  }

  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(8, 500px);
    grid-template-rows: repeat(3, 250px);
  }

  &__item-img {
    img {
      @include imgCover;
    }
  }

  &__item-txt {
    h3 {
      font-size: 2.8rem;
      font-weight: $bold;
    }
    
    p {
      margin-top: 2rem;
      font-size: 2rem;
      line-height: 2.4rem;
      color: $gray;
    }
  }

  /* grid item 위치설정 */
  &__item:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }

  &__item:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }

  &__item:nth-child(3) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(4) {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
  }

  &__item:nth-child(5) {
    grid-column: 6 / span 1;
    grid-row: 2 / span 2;
  }

  &__item:nth-child(6) {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(7) {
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
  }
}

/****** secition news ******/
.news {
  padding: 15rem 0;
  background-color: $mainColor;

  &__title {
    @include flexBox(flex-start, flex-end);

    color: $white;
  }

  &__main {
    font-size: 10rem;
    font-weight: $bold;
  }

  &__sub {
    font-size: 2rem;
    margin: {
      left: 1rem;
      bottom: 1rem;
    }
  }

  &__arrow {
    display: flex;
    margin: 4rem 0;
  }

  &__prev {
    @include imgStyle(url(../../images/arrow_red.svg), no-repeat, 50%, 50%, auto);

    width: 4rem;
    height: 4rem;
    background-color: rgba($white, $alpha: 1);
    transform: rotate(180deg);
    cursor: pointer;
  }

  &__next {
    @extend .news__prev;

    transform: rotate(0);
  }

  &__slide {
    overflow: hidden;
  }

  &__container {
    display: flex;
    

    li {
      flex-shrink: 0;
      margin-right: 2rem;
      width: 100%;
      max-width: 550px;
      background-color: $white;
    }
  }

  &__img {
    height: 300px;
    border: 2px solid $white;

    img {
      @include imgCover;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: 150px;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  &__date {
    margin-top: auto;
    color: $mainColor;
  }
}