@charset "utf-8";
/* _main.scss */

.inner_wrapper {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1800px;
}

.bg {
  @include positionTopLeft(50%, 0);
  $left-list: 0 10% 20% 30% 40% 50% 60% 70% 80% 90% 100%;

  width: 90%;
  height: 100%;
  pointer-events: none;

  &__line {
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 1px solid rgba($G-color-lightgray, $alpha: 0.3);
  }

  @each $left in $left-list {
    $i: index($left-list, $left);
    &__line:nth-child(#{$i}) {
      left: $left;
    }
  }
}

/****** secition1  since ******/
.since {
  height: 150vh;

  &__container {
    width: 100%;
    height: 100vh;
  }

  &__img-box {
    @include flexBox(center, center);
    // @include imgStyle(url(../../images/logo.svg), no-repeat, 50%, 50%, contain);
    
    position: relative;
    flex-direction: column;
    margin: $G-margin-center;
    width: 90%;
    height: 100%;
    max-width: 1400px;
  }

  &__logo {
    position: absolute;
    width: 100%;
    z-index: -9;
  }

  &__txt {
    font-size: 4rem;
    font-weight: $G-font-bold;
    color: $G-color-main;
  }

  &__can {
    width: 50%;
  }
}

/****** secition2 purpose ******/
.purpose {
  background-color: $G-color-main;
  color: $G-color-white;
  height: 100vh;

  &__container {
    @include flexBox(center, center);

    flex-direction: column;
    height: 100%;
  }

  &__wrap {
    font-size: 8.33vw;
    line-height: 9.33vw;
  }

  &__txt {
    display: block;
    font-weight: $G-font-bold;
  }

  &__img {
    position: relative;
    margin-top: 4rem;
    width: 80%;
  }

  &__rotate {
    @include positionBottomLeft(-7vw,-7vw);

    width: 14.993vw;
    height: 14.993vw;
    min-width: 10rem;
    min-height: 10rem;

    @for $i from 1 to 30 {
      .txt#{$i} {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 14.993vw;
        min-height: 10rem;
        font-size: 1.6rem;
        transform: translate(-50%, -50%) rotate(($i * 12) + deg);
      }
    }
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
/****** secition3 vision ******/
.vision {
  background-color: $G-color-main;
  overflow: hidden;

  &__container {
    position: relative;
    margin: 6rem 0;
    color: $G-color-white;
  }

  &__title {
    margin: 1.563vw 0;
    font-size: 10.417vw;
    font-weight: $G-font-bold;
    white-space: nowrap;
  }

  &__title-stroke {
    @include textBorder($G-color-white);

    color: $G-color-main;
  }
}

/****** secition4 product ******/
.product {
  position: relative;
  background-color: $G-color-black;
  height: 400vh;

  &__item {
    position: relative;
    height: 100vh;
    overflow: hidden
  }

  &__img {
    @include positionTopLeft(50%, 50%);

    // margin: 100px 0;
    width: 40%;
  }

  &__title {
    @include positionTopLeft(50%, 50%);

    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12vw;
    font-weight: $G-font-bold;
    color: $G-color-white;

    .block {
      display: block;
      font-size: 18vw;
    }
  }
}

// canvas
.canvas {
  height: 100vh;
  background-color: $G-color-main;
}

/****** secition5 sticky ******/
.sticky {
  position: relative;

  &__container {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  &__horizontal {
    @include flexBox(flex-start, center);

    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__txt-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5.208vw;
    margin-right: 26.042vw;
    height: 85%;

    p {
      font-size: 1.6rem;
      color: $G-color-black;
    }
  }

  &__title {
    flex-shrink: 0;
    font-size: 6rem;
    font-weight: $G-font-bold;

    &-stroke {
      @include textBorder($G-color-black);

      color: $G-color-white;
    }
  }

  &__grid {
    // height: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(8, 500px);
    grid-template-rows: repeat(3, calc(33.333vh - 2rem));
  }

  &__item-img {
    img {
      @include imgCover;
    }
  }

  &__item-txt {
    h3 {
      font-size: 2.8rem;
      font-weight: $G-font-bold;
    }

    p {
      margin-top: 2rem;
      font-size: 2rem;
      line-height: 2.4rem;
      color: $G-color-gray;
    }
  }

  /* grid item 위치설정 */
  &__item:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }

  &__item:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }

  &__item:nth-child(3) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(4) {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
  }

  &__item:nth-child(5) {
    grid-column: 6 / span 1;
    grid-row: 2 / span 2;
  }

  &__item:nth-child(6) {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(7) {
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
  }
}

/****** secition6 brand ******/
.brand {
  position: relative;
  height: 200vh;
  overflow: hidden;
  // background-color: $G-color-main;
  // color: #fff;

  &__container {
    @include flexBox(flex-start, flex-start);

    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  &__title {
    width: 100%;
    height: 40%;
  }

  &__title h2{
    font-size: 10.256vw;
    font-weight: $G-font-bold;
    color: $G-color-main;

    .block {
      display: block;
    }
  }

  &__scroll {
    position: relative;
    width: 100%;
    height: 60%;
  }

  &__move {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    li {
      width: 100%;
      background-color: $G-color-main;
      transform: translateY(100%)
    }
  }

  &__info {
    @include positionTopLeft(50%, 50%);


    flex-direction: column;
    color: $G-color-white; 
  }

  &__value {
    font-size: 25.641vw;
    font-weight: $G-font-bold;

    &-plus {
      @include textBorder($G-color-white);

      color: $G-color-main;
    }
  }

  &__desc {
    font-size: 1.6rem;
  }
}

/****** secition7 news ******/
.news {
  padding: 15rem 0;
  background-color: $G-color-main;

  &__title {
    @include flexBox(flex-start, flex-end);

    color: $G-color-white;
  }

  &__main {
    font-size: 10rem;
    font-weight: $G-font-bold;
  }

  &__sub {
    font-size: 2rem;
    margin: {
      left: 1rem;
      bottom: 1rem;
    }
  }

  &__arrow {
    display: flex;
    margin: 4rem 0;
  }

  &__prev {
    @extend %arrow-btn;

    transform: rotate(180deg);
  }

  &__next {
    @extend %arrow-btn;

    transform: rotate(0);
  }

  &__slide {
    overflow: hidden;
  }

  &__container {
    display: flex;

    li {
      flex-shrink: 0;
      // margin-right: 2rem;
      width: 100%;
      // max-width: 550px;
      background-color: $G-color-white;
    }
  }

  &__img {
    height: 300px;
    border: 2px solid $G-color-white;

    img {
      @include imgCover;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: 150px;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  &__date {
    margin-top: auto;
    color: $G-color-main;
  }
}

.moveTitle {
  // position: relative;
  // display: flex;
  background-color: $G-color-white;
  height: 27.641vw;
  white-space: nowrap;
  
  &__first {
    @extend %move-title;

    color: blue;
    animation: scrolling-left1 30s infinite linear;
    
  }
  
  &__second {
    @extend %move-title;

    // transform: translateX(100%);
    animation: scrolling-left2 30s infinite linear;
    animation-delay: 15s;
  }
}

@keyframes move-right-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes scrolling-left1 {
  0% {transform: translateX(100%);}
  100% {transform: translateX(-100%);}
}

@keyframes scrolling-left2 {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-200%);}
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}

@media screen and (min-width:768px) {
  /****** ******/
  .since {
    &__can {
      width: auto;
    }
  }

  /****** ******/
  .purpose {
    &__container {
      justify-content: space-between;
      flex-direction: row;
    }

    &__wrap {
      width: 60%;
      font-size: 5.729vw;
      line-height: 6.729vw;
    }

    &__img {
      width: 40%;
      max-width: 700px;
    }
  }

  /****** ******/
  .product{
    &__img {
      width: 25%;
      left: 0;
      transform: translateY(-50%);
    }

    &__title {
      left: auto;
      right: 0;
      width: 60%;
      font-size: 7.813vw;
      transform: translateY(-50%);

      .block {
        font-size: 13.021vw;
      }
    }
  }

  /****** ******/
  .brand {
    &__container {
      flex-direction: row;
    }

    &__title {
      height: 100%;

      h2 {
        @include flexBox(center, flex-start);

        flex-direction: column;
        height: 100%;
        font-size: 7.813vw;
      }
    }

    &__scroll {
      height: 100%;
    }

    &__value {
      font-size: 16.927vw;
    }
  }
}

@media screen and (min-width:1024px) {
  .product{
    &__img {
      width: auto;
    }
  }

  .brand{
    &__value {
      font-size: 15.625vw;
    }
  }
  .moveTitle {
    height: 12.417vw;

    &__first {
      font-size: 10.417vw;
      line-height: 12.417vw;
    }

    &__second {
      font-size: 10.417vw;
      line-height: 12.417vw;
    }
  }
}