@charset "utf-8";
/* _main.scss */
::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: $G-color-main;
  border: 1px solid #eee;
}

.inner_wrapper {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1800px;
}

.bg {
  @include positionTopLeft(50%, 0);
  $left-list: 0 10% 20% 30% 40% 50% 60% 70% 80% 90% 100%;

  width: 90%;
  height: 100%;
  pointer-events: none;

  &__line {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    border-left: 1px solid rgba($G-color-lightgray, $alpha: 0.3);
  }

  &__block {
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, $G-color-main, rgba($G-color-main, $alpha: 0));
  }

  @each $left in $left-list {
    $i: index($left-list, $left);
    &__line:nth-child(#{$i}) {
      left: $left;
    }
  }
  @for $i from 1 to 10 {
    &__block#{$i} {
      top: calc(10% * #{$i});
    }
  }
}

/****** secition1  since ******/
@keyframes move-scale {
  0% { transform: scale(0); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes move-down {
  0% { transform:  translateY(-100%); }
  100% { transform:  translateY(0); }
}

.since {
  height: 120vh;

  &__container {
    width: 100%;
    height: 100vh;
  }

  &__img-box {
    @include flexBox(center, center);
    // @include imgStyle(url(../../images/logo.svg), no-repeat, 50%, 50%, contain);
    
    position: relative;
    flex-direction: column;
    margin: $G-margin-center;
    width: 90%;
    height: 100%;
    max-width: 1400px;
  }

  &__logo {
    overflow: hidden;
    position: absolute;
    width: 100%;
    // height: 100%;
    z-index: -9;

    img {
      width: 100%;
      animation: move-down 0.5s ease-in-out forwards;
      will-change: transform;
    }
  }

  &__txt {
    overflow: hidden;
    
    h2 {
      font-size: 4rem;
      font-weight: $G-font-bold;
      color: $G-color-main;
      animation: move-down 0.5s 0.5s ease-out backwards;
    }
  }

  &__can {
    width: 50%;
    animation: move-scale 0.7s 0.5s ease-in-out backwards;
    will-change: transform;
  }
}

/****** secition2 purpose ******/
.purpose {
  background-color: $G-color-main;
  color: $G-color-white;
  height: 100vh;

  &__container {
    @include flexBox(center, center);

    flex-direction: column;
    height: 100%;
  }

  &__wrap {
    font-size: 8.33vw;
    line-height: 9.33vw;
  }

  &__txt {
    display: block;
    font-weight: $G-font-bold;
    will-change: transform;
  }

  &__img {
    position: relative;
    margin-top: 4rem;
    width: 80%;
  }

  &__rotate {
    @include positionBottomLeft(-7vw,-7vw);

    width: 14.993vw;
    height: 14.993vw;
    min-width: 10rem;
    min-height: 10rem;
    will-change: transform;

    @for $i from 1 to 30 {
      .txt#{$i} {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 14.993vw;
        min-height: 10rem;
        font-size: 1.6rem;
        transform: translate(-50%, -50%) rotate(($i * 12) + deg);
      }
    }
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
/****** secition3 vision ******/
.vision {
  background-color: $G-color-main;
  overflow: hidden;

  &__container {
    position: relative;
    margin: 6rem 0;
    color: $G-color-white;
  }

  &__title {
    margin: 1.563vw 0;
    font-size: 10.417vw;
    font-weight: $G-font-bold;
    white-space: nowrap;
    will-change: transform;
  }

  &__title-stroke {
    @include textBorder($G-color-white);

    color: $G-color-main;
  }
}

/****** secition4 product ******/
.product {
  position: relative;
  background-color: $G-color-black;
  height: 800vh;
  // padding: 50vh 0;

  &__container {
    // @include positionTopLeft(50%, 50%);

    position: relative;
    display: flex;
    // width: 90%;
    height: 100%;

    li {
      @include flexBox(center, center);

      height: 100vh;
    }
  }

  &__list-img {
    position: absolute;
    width: 100%;
    // height: 200vh;
    text-align: center;

    // li {
      // padding-bottom: 200vh;
      // height: 100vh;
    // }
  }

  &__list-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: $G-color-white;

    li {
      // height: 100vh;
      transform:translateY(100%);
      opacity: 0;
    }
  }
  
  &__title {
    // transform: translateY(100%);
    font-size: 12vw;
    font-weight: $G-font-bold;
    text-transform: uppercase;
    will-change: transform, opacity;

    .block {
      display: block;
      font-size: 18vw;
    }
  }
}

// canvas
.gallery {
  height: 100vh;
  background-color: $G-color-white;

  &__wrap {
    @include flexBox(center, center);

    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 70%;
    height: 70%;
  }


  &__block {
    width: 100%;
    height: 100%;
  }

  &__block-center {
    z-index: 999;
  }

  &__item:nth-child(1) {
    @include gridSetting(3 / span 2, 1 / span 2);
    
    .gallery__block {
      @include imgStyle(url(../../images/gallery_1.png), no-repeat, 50%, 50%, cover)
    }
  }

  &__item:nth-child(2) {
    @include gridSetting(6 / span 1, 2 / span 1);
    
    .gallery__block {
      @include imgStyle(url(../../images/gallery_2.png), no-repeat, 50%, 50%, cover)
    }
  }

  &__item:nth-child(3) {
    @include gridSetting(2 / span 1, 3 / span 1);
    
    .gallery__block {
      @include imgStyle(url(../../images/gallery_3.png), no-repeat, 50%, 50%, cover)
    }
  }

  &__item:nth-child(4) {
    @include gridSetting(4 / span 2, 6 / span 2);
    
    .gallery__block {
      @include imgStyle(url(../../images/gallery_4.png), no-repeat, 50%, 50%, cover);
    }
  }

  &__item:nth-child(5) {
    @include gridSetting(6 / span 2, 3 / span 2);
    
    .gallery__block {
      @include imgStyle(url(../../images/gallery_5.png), no-repeat, 50%, 50%, cover);
    }
  }

  &__item:nth-child(6) {
    @include gridSetting(1 / span 2, 5 / span 2);
    
    .gallery__block {
      @include imgStyle(url(../../images/gallery_6.png), no-repeat, 50%, 50%, cover);
    }
  }
  
  &__item:nth-child(7) {
    @include gridSetting(3 / span 3, 3 / span 3);

    .gallery__block {
      @include imgStyle(url(../../images/gallery_center.png), no-repeat, 50%, 50%, cover);
    }
  }
}

/****** secition5 sticky ******/
.sticky {
  position: relative;

  &__container {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  &__horizontal {
    @include flexBox(flex-start, center);

    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__txt-box {
    margin-left: 5.208vw;
    margin-right: 26.042vw;
    height: 85%;

    p {
      font-size: 1.6rem;
      color: $G-color-black;
    }
  }

  &__title {
    flex-shrink: 0;
    font-size: 6rem;
    font-weight: $G-font-bold;
    text-transform: capitalize;

    &-stroke {
      @include textBorder($G-color-black);

      color: $G-color-white;
    }
  }

  &__grid {
    // height: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(8, 500px);
    grid-template-rows: repeat(3, calc(33.333vh - 2rem));
  }

  &__item-img {
    img {
      @include imgCover;
    }
  }

  &__item-txt {
    h3 {
      font-size: 2.8rem;
      font-weight: $G-font-bold;
    }

    p {
      margin-top: 2rem;
      font-size: 2rem;
      line-height: 2.4rem;
      color: $G-color-gray;
    }
  }

  /* grid item 위치설정 */
  &__item:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }

  &__item:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }

  &__item:nth-child(3) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(4) {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
  }

  &__item:nth-child(5) {
    grid-column: 6 / span 1;
    grid-row: 2 / span 2;
  }

  &__item:nth-child(6) {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(7) {
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
  }
}

/****** secition6 brand ******/
.brand {
  position: relative;
  height: 200vh;
  overflow: hidden;
  // background-color: $G-color-main;
  // color: #fff;

  &__container {
    @include flexBox(flex-start, flex-start);

    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  &__txt {
    width: 100%;
    height: 40%;
  }

  &__title {
    padding-top: 8rem;
    font-size: 10.256vw;
    font-weight: $G-font-bold;
    color: $G-color-main;
    will-change: transform;

    .block {
      display: block;
    }
  }

  &__scroll {
    position: relative;
    width: 100%;
    height: 60%;
  }

  &__move {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    li {
      width: 100%;
      background-color: $G-color-main;
      transform: translateY(100%);
    }
  }

  &__info {
    @include positionTopLeft(50%, 50%);


    flex-direction: column;
    color: $G-color-white; 
  }

  &__value {
    font-size: 25.641vw;
    font-weight: $G-font-bold;

    &-plus {
      @include textBorder($G-color-white);

      color: $G-color-main;
    }
  }

  &__desc {
    font-size: 1.6rem;
  }
}

/****** secition7 news ******/
.news {
  padding: 15rem 0;
  background-color: $G-color-main;

  &__title {
    @include flexBox(flex-start, flex-end);

    color: $G-color-white;
  }

  &__main {
    font-size: 10rem;
    font-weight: $G-font-bold;
  }

  &__sub {
    font-size: 2rem;
    margin: {
      left: 1rem;
      bottom: 1rem;
    }
  }

  &__arrow {
    display: flex;
    margin: 4rem 0;
  }

  &__prev {
    @extend %arrow-btn;

    transform: rotate(180deg);
  }

  &__prev.disabled {
    opacity: 0.5;
  }

  &__next {
    @extend %arrow-btn;

    transform: rotate(0);
  }

  &__next.disabled {
    opacity: 0.5;
  }

  &__slide {
    overflow: hidden;
  }

  &__container {
    display: flex;

    li {
      flex-shrink: 0;
      // margin-right: 2rem;
      width: 100%;
      // max-width: 550px;
      background-color: $G-color-black;
    }

    li a {
      display: block;
      transition: transform 0.5s;
    }
  }

  &__img {
    height: 300px;
    border: 2px solid $G-color-white;

    img {
      @include imgCover;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: 150px;
    font-size: 2rem;
    line-height: 2.6rem;
    background-color: $G-color-white;
  }

  &__date {
    margin-top: auto;
    color: $G-color-main;
  }
}

.moveTitle {
  // position: relative;
  // display: flex;
  background-color: $G-color-white;
  height: 27.641vw;
  white-space: nowrap;
  
  &__first {
    @extend %move-title;

    // color: blue;
    animation: scrolling-left1 30s infinite linear;
    
  }
  
  &__second {
    @extend %move-title;

    // transform: translateX(100%);
    animation: scrolling-left2 30s infinite linear;
    animation-delay: 15s;
  }
}

@keyframes scrolling-left1 {
  0% {transform: translateX(100%);}
  100% {transform: translateX(-100%);}
}

@keyframes scrolling-left2 {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-200%);}
}

@media screen and (min-width:768px) {
  /****** ******/
  .since {
    &__can {
      width: auto;
    }
  }

  /****** ******/
  .purpose {
    &__container {
      justify-content: space-between;
      flex-direction: row;
    }

    &__wrap {
      width: 60%;
      font-size: 5.729vw;
      line-height: 6.729vw;
    }

    &__img {
      width: 40%;
      max-width: 700px;
    }
  }

  /****** ******/
  .product{
    &__img {
      width: 195px;
    }

    &__title {
      font-size: 7.813vw;

      .block {
        font-size: 13.021vw;
      }
    }
  }

  .sticky {
    &__title {
      font-size: 9.375vw;
    }
  }

  /****** ******/
  .brand {
    &__container {
      flex-direction: row;
    }

    &__txt {
      height: 100%;

    }

    &__title {
      @include flexBox(center, flex-start);

      flex-direction: column;
      padding: 0;
      height: 100%;
      font-size: 7.813vw;
    }

    &__scroll {
      height: 100%;
    }

    &__value {
      font-size: 16.927vw;
    }
  }
}

@media screen and (min-width:1024px) {
  .product{
    &__list-img {
      position: static;
    }

    &__list-text {
      position: static;
    }

    &__title {
      font-size: 5.469vw;

      .block {
        font-size: 11.719vw;
      }
    }
  }

  .brand {
    &__value {
      font-size: 15.625vw;
    }
  }

  .moveTitle {
    height: 12.417vw;

    &__first {
      font-size: 10.417vw;
      line-height: 12.417vw;
    }

    &__second {
      font-size: 10.417vw;
      line-height: 12.417vw;
    }
  }
}

@media (hover: hover) {
  .news {
    &__slide {
      li:hover a {
        transform: translate(1.04vw, -1.04vw);
      }
    }

    &__prev:not(.disabled):hover {
      opacity: 0.9;
      background-position: 60% 50%;
    }

    &__next:not(.disabled):hover {
      opacity: 0.9;
      background-position: 60% 50%;
    }
  }
}